.magicButton {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  background-color: red;
}
.blurred {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-color: black;
}

body {
  background: rgba(255, 185, 134, 0.19);
}

#bGround {
  min-height: 100vh;
  background: rgba(255, 185, 134, 0.15);
}
#pic {
  height: 250px;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: auto;
  background-image: url("../phot/ad.jpg");
  mix-blend-mode: darken;
}
.pages {
  margin-top: 25px !important;
}
#ecl {
  position: relative;
  height: 250px;
  min-height: 300px;
  min-width: 300px;
  width: 100;
  opacity: 0.7;
  background: linear-gradient(
    180deg,
    rgba(255, 134, 134, 0.67) 48.7%,
    rgba(255, 214, 185, 0) 92.88%
  );
}
