.magic-button {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  background-color: red;
  z-index: 99;
}
.blurred {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  z-index: 98;
  background-color: black;
}

@import url("https://fonts.googleapis.com/css2?family=Alegreya&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap');
body {
  font-family: "Alegreya", serif !important;
}

:root {
  --pierwszy: #896978;
  --drugi: #839791;
  --trzeci: #9db2a5;
  --czwarty: #f8dcc9;
  --piaty: #f3bd90;
  --szosty: #f2b074;
  --siodmy: #f2a359;
  --osmy: #fae7db;
  --dziewiaty: #240b36;
  --dziesiaty: #adc2b1;
  --jedenasty: #f3bd90;
}

#bGround {
  background: var(--trzeci);
}

.pages {
  margin-top: 25px !important;
}

.sitecontent {
  flex: 1;
}
.cont {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.bg-one {
  background-color: var(--piaty);
  padding: 5%;
}
.baner {
  background-color: var(--piaty);
  padding: 0 5%;
}
.about-baner {
  background-color: var(--szosty) !important;
  padding: 0;
  margin: 0 !important;
}

.bg-one-p {
  background-color: var(--czwarty);
  padding: 5%;
}
.bg-one-d {
  background-color: var(--trzeci);
  padding: 5% !important;
}
.bg-one-t {
  background-color: var(--drugi);
  padding: 5%;
  margin: 0 !important;
}
.bg-one-c {
  background-color: var(--pierwszy) !important;
  padding: 5% !important;
  margin: 0 !important;
}
.bg-one-p {
  background-color: var(--piaty) !important;
  padding: 5% !important;
  margin: 0 !important;
}
.bg-one-s {
  background-color: var(--czwarty) !important;
  padding: 5% !important;
  margin: 0 !important;
}
.bg-color {
  background-color: var(--osmy);
}

.foter {
  margin: 0 !important;
  background-color: var(--dziewiaty) !important;
}
h1 {
  font-size: 4em !important;
  color: var(--dziewiaty) !important;
}
.pad {
  padding: 1em !important;
}

h2 {
  color: var(--czwarty) !important;
}

a:hover {
  color: var(--pierwszy) !important;
}

.desc {
  color: var(--dziewiaty) !important;
  text-align: center !important;
  overflow-wrap: break-word;
}
.image-card{
  height: 185px !important;
}

.footer-desc {
  color: var(--czwarty);
}
.relaxed {
  margin-bottom: 3em !important;
}
.about-form {
  background-color: var(--jedenasty);
  padding: 5%;
  margin: 0 !important;
}

.error {
  padding: 5%;
}
.denied {
  padding: 5%;
  background-color: var(--dziesiaty);
}

.button > a {
  color: var(--dziewiaty) !important;
}

.login-page {
  background-color: var(--pierwszy);
}

.thanks {
  padding: 5%;
  background-color: var(--dziesiaty);
}

.det-bg {
  background-color: var(--dziesiaty) !important;
  margin: 0;
  border: 0 !important;
}

.det-head {
  padding: 3% !important;
  background-color: var(--piaty);
  border-bottom: 5px dashed var(--pierwszy);
  margin: 0;
  
}
.det-head h1 {
  font-family: Merienda, serif !important;
}

.det-social {
  border-top: 5px dashed var(--pierwszy);
  background-color: var(--drugi);
  padding-top: 30px !important;
}
.det-back {
  background-color: var(--drugi);
  padding-bottom: 30px !important;
}
.social {
  font-size: 1.5em;
}
.social-bagdes {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  color: var(--czwarty) !important;
}
.bio {
  display: flex;
  justify-items: center;
  align-items: center;
  height: 100%;
}
.bio > * {
  flex-grow: 1;
  color: var(--dziewiaty) !important;
}
.det-label {
  background-color: var(--pierwszy)!important;
  color: var(--czwarty) !important;

}